<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title >Maintenance - Admin</title>
      <script src="../assets/extensions/lottie/js/lottie.min.js"></script>
      <link rel="stylesheet" href="../assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">

      <link rel="stylesheet" href="../assets/extensions/@fortawesome/fontawesome-free/css/all.min.css">
      <link rel="stylesheet" crossorigin href="./../assets/compiled/css/table-datatable-jquery.css">
      <link rel="stylesheet" crossorigin href="./../assets/compiled/css/table-datatable.css">
      <link rel="stylesheet" href="../assets/extensions/sweetalert2/sweetalert2.min.css">
      <link rel="stylesheet" crossorigin href="./../assets/compiled/css/extra-component-sweetalert.css">
      <link rel="stylesheet" crossorigin href="./../assets/compiled/css/app.css">
      <link rel="stylesheet" crossorigin href="./../assets/compiled/css/app-dark.css">
   </head>
   <body>
      <script src="../assets/static/js/initTheme.js"></script>
      <div id="preloader" class="preloader">
      </div>
      <div id="app" >
         <div id="sidebar">
            <div class="sidebar-wrapper active">
               <div class="sidebar-header position-relative">
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="logo">
                        <a href="../index.html" style="font-size: 20px; color: #7b1013;">NMU DORM</a>
                     </div>
                     <div class="sidebar-toggler  x">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                     </div>
                  </div>
               </div>
               <div class="sidebar-menu">
                  <ul class="menu">
                     <li class="sidebar-title" >Menu</li>
                     <li
                        class="sidebar-item  ">
                        <a href="../index.html" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span >Dashboard</span>
                        </a>
                     </li>
                     <li class="sidebar-item active ">
                        <a href="maintenance.html" class='sidebar-link'>
                        <i class="fa-fw select-all fas"></i>
                        <span >Maintenance</span>
                        </a>
                     </li>
                     <li
                        class="sidebar-item has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="bi bi-building-fill-gear"></i>
                        <span >Dorm</span>
                        </a>
                        <ul class="submenu ">
                           <li class="submenu-item ">
                              <a href="dorm/building.html" class="submenu-link" >Building</a>
                           </li>
                           <li class="submenu-item ">
                              <a href="dorm/apartment.html" class="submenu-link" >Apertment</a>
                           </li>
                           <li class="submenu-item  ">
                              <a href="dorm/room.html" class="submenu-link" >Room</a>
                           </li>
                        </ul>
                     </li>
                     <li
                        class="sidebar-item">
                        <a href="resident.html" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i><span >Resident</span>
                        </a>
                     </li>
                     <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                        <i class="bi bi-building-fill-up"></i>
                        <span >Reservation</span>
                        </a>
                        <ul class="submenu ">
                           <li class="submenu-item  ">
                              <a href="reservation/criteria.html" class="submenu-link" >Criteria</a>
                           </li>
                           <li class="submenu-item  ">
                              <a href="reservation/reservation.html" class="submenu-link" >Reservation Process</a>
                           </li>
                        </ul>
                     </li>
                     <li class="sidebar-item ">
                        <a href="docs.html" class="sidebar-link">
                        <i class="bi bi-card-image"></i>
                        <span >Docs</span>
                        </a>
                     </li>
                     <li class="sidebar-item">
                        <a href="expelled-student.html" class="sidebar-link">
                        <i class="bi bi-person-fill-slash"></i> <span >Expelled Student</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div id="main">
            <div class="container d-flex justify-content-end">

               <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                     <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path>
                        <g transform="translate(-210 -1)">
                           <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                           <circle cx="220.5" cy="11.5" r="4"></circle>
                           <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                        </g>
                     </g>
                  </svg>
                  <div class="form-check form-switch fs-6">
                     <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                     <label class="form-check-label"></label>
                  </div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                     <path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                     </path>
                  </svg>
               </div>
               <!-- Profile dropdown menu -->
               <div class="dropdown">
               <a class="btn dropdown-toggle" href="#" role="button" id="profileDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <div class="d-flex align-items-center">
                     <div class="rounded-circle overflow-hidden me-2 border border-primary" style="width: 40px; height: 40px;">
                        <img src="../assets/compiled/png/student.png" alt="Profile Picture" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
                     </div>
                     <span class="d-none d-md-inline-block fs-6" >Shaymaa</span>
                  </div>
               </a>
               <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdownMenuLink">
                  <a class="dropdown-item" href="#"><i class="fas fa-user-circle me-2"></i> <span >Profile</span></a>
                  <a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i> <span >Settings</span></a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt me-2"></i> <span >Logout</span></a>
               </div>
            </div>
            </div>
            <header class="mb-3">
               <a href="#" class="burger-btn d-block d-xl-none">
               <i class="bi bi-justify fs-3"></i>
               </a>
            </header>
            <div class="page-heading">
               <div class="page-title">
                  <div class="row">
                     <div class="col-12 col-md-6 order-md-1 order-last my-3">
                        <div class="d-flex align-items-center">
                           <h3 class="me-3 mb-0" >Maintenance</h3>
                        </div>
                     </div>
                     <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="../index.html" >Dashboard</a></li>
                              <li class="breadcrumb-item active" aria-current="page" >Maintenance</li>
                           </ol>
                        </nav>
                     </div>
                  </div>
                  <div class="row align-items-center justify-content-between mb-3">
                     <div class="col-12 col-md-4 order-md-1 mb-3 mb-md-0">
                        <!-- Search input and button -->
                        <div class="input-group">
                           <input type="text" class="form-control" id="searchInput" placeholder="Search...">
                           <span class="input-group-text"><i class="bi bi-search"></i></span>
                        </div>
                     </div>
                     <div class="col-12 col-md-4 order-md-2 d-flex justify-content-md-end">
                        <!-- Button to download CSV -->
                        <button type="button" class="btn btn-outline-secondary csv-btn" >
                        Download CSV
                        <span class="fa-fw select-all fas"></span>
                        </button>
                     </div>
                  </div>
               </div>
               <!-- Description Modal -->
               <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h5 class="modal-title" id="descriptionModalLabel" >Description</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <p id="descriptionText"></p>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Basic Tables start -->
               <section class="section" id="page-main">
                  <div class="card">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-hover" id="table1">
                              <thead>
                                 <tr>
                                    <th >Resident</th>
                                    <th >Room</th>
                                    <th >Date</th>
                                    <th >Equipment</th>
                                    <th >Task Description</th>
                                    <th >Performed By</th>
                                    <th >Status</th>
                                    <th >Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <!-- Add more rows for other maintenance tasks -->
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </section>
               <!-- Basic Tables end -->
            </div>
            <footer>
               <div class="footer clearfix mb-0 text-muted">
                  <div class="float-start">
                     <p >2023 © Zahran</p>
                  </div>
               </div>
            </footer>
         </div>
      </div>
      <!-- Load jQuery first -->
      <script src="../assets/extensions/jquery/jquery.min.js"></script>
      <!-- Load other scripts that depend on jQuery -->
      <script src="../assets/static/js/components/dark.js"></script>
      <script src="../assets/static/js/components/language.js"></script>

      <script src="../assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
      <!-- Load Bootstrap JavaScript files -->
      <script src="../assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
      <!-- Load your custom application scripts -->
      <script src="../assets/compiled/js/app.js"></script>
      <script src="../assets/static/js/pages/datatables.js"></script>
      <!-- <script src="../assets/static/js/helper/utils.js"></script> -->
      <script type="module" src="../assets/static/js/pages/maintenance.js"></script>
      <!-- <script src="../assets/static/js/pages/maintenance.js"></script> -->
      <script src="../assets/extensions/sweetalert2/sweetalert2.min.js"></script>
      <script src="../assets/extensions/sheet-js/lib/xlsx.full.min.js"></script>
   </body>
</html>

